{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10">
    <div class="custom-card">
        <h2 class="text-center text-2xl font-semibold mb-4">Login</h2>
        <form method="POST">
            <div class="mb-4">
                {{ form.email.label(class="block text-lg font-medium text-gray-300") }}
                {{ form.email(class="w-full p-2 rounded bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-orange-500") }}
            </div>
            <div class="mb-4">
                {{ form.password.label(class="block text-lg font-medium text-gray-300") }}
                {{ form.password(class="w-full p-2 rounded bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-orange-500") }}
            </div>
            <button type="submit" class="btn btn-custom w-full">Login</button>
        </form>
    </div>
</div>
{% endblock %}
